{% extends 'events/base.html' %}

{% block content %}
{% if user.is_authenticated %}
	Logged in user: {{ user }}
	<br/>
	Event Manager: {{ event.manager }}
	{% if user == event.manager %}
    <div class="panel-group">
    <div class="panel panel-primary">
    <div class="panel-heading d-flex justify-content-center">Update Event</div>
    <br/><br/>
    <div class="panel-body">
    	<form action="" method="POST" autocomplete="off" enctype="multipart/form-data">
        {% csrf_token %}
  {{ form.as_p }}
  
  <div class="form-group row d-flex justify-content-begin">
    <div class="col-sm-10">
      <button type="submit" class="btn btn-secondary">Update</button>
    </div>
  </div>
  <hr/>
 </form>  
        
	 </div>
	 </div>
	 </div>
 {% else %}
 <h2>Access denied</h2>
 <p>Only Event manager can update this event</p>
 {% endif %}
 {% else %}
 <h2>You must be login to access this page</h2> 
 <a class="nav-link" href="{% url 'login' %}">Login here</a>
 {% endif %}

{% endblock %}
